@charset "UTF-8";
@font-face {
  font-family: "Cera Pro Thin";
  src: url("CeraPro-Thin.eot");
  src: url("CeraPro-Thin.eot?#iefix") format("embedded-opentype"), url("CeraPro-Thin.woff") format("woff"), url("CeraPro-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Cera Pro Thin";
  font-size: 16px;
  color: #1E1744;
}

.section-outer {
  display: flex;
  justify-content: center;
}

.section-inner {
  max-width: 1825px;
  margin: 0 auto;
}

.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 14px 27px 17px 24px;
  background-color: #F40808;
  border-radius: 2px;
  font-weight: 600;
  text-transform: uppercase;
}
.btn:hover {
  transition: 0.5s;
  background: #c30606;
}

.main-navigation {
  display: flex;
  align-items: center;
  padding: 18px 0 14px 0;
}
.main-navigation__inner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 44px;
}
@media (max-width: 991px) {
  .main-navigation__inner-wrap {
    margin-left: 4px;
  }
}

.nav-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 56px;
}
@media (max-width: 1599px) {
  .nav-wrapper__item + .nav-wrapper__item {
    margin-left: 20px;
  }
}
@media (max-width: 991px) {
  .nav-wrapper__item + .nav-wrapper__item {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .nav-wrapper__item + .nav-wrapper__item {
    margin-left: 8px;
  }
}
.nav-wrapper__item-link {
  text-decoration: none;
  color: #1E1744;
  font-size: 16px;
  font-weight: 400;
}

.adress {
  display: flex;
  align-items: center;
  justify-content: center;
}
.adress-citi {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 144px;
}
.adress-citi__item + .adress-citi__item {
  margin-left: 40px;
}
.adress-citi__item-link {
  text-decoration: none;
  color: #1E1744;
  font-size: 16px;
  font-weight: 300;
}

.phone {
  display: flex;
  align-items: center;
  margin-left: 68px;
}
.phone-link {
  text-decoration: none;
  color: #1E1744;
  font-size: 18px;
  font-weight: 600;
}

.english {
  margin-left: 80px;
  margin-right: 52px;
}
@media (max-width: 1279px) {
  .english {
    margin-left: 40px;
    margin-right: 4px;
  }
}
.english-link {
  text-decoration: none;
  color: #1E1744;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.navigation {
  position: absolute;
  padding: 14px 0 38px 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.navigation::after {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  border-top: 1px solid #1E1744;
  opacity: 0.1;
}
.navigation .main-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 52px;
}
@media (max-width: 767px) {
  .navigation .main-wrapper {
    margin-left: 20px;
  }
}
.navigation .main-wrapper__item-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #1E1744;
}

.main-wrapper__item + .main-wrapper__item {
  margin-left: 28px;
}

.logo-link {
  margin-left: 150px;
}
@media (max-width: 1599px) {
  .logo-link {
    padding: 4px;
    margin-left: 40px;
  }
}
@media (max-width: 767px) {
  .logo-link {
    padding: 4px;
    margin-left: 40px;
  }
}

.oline-application {
  display: flex;
  margin-left: 51px;
  align-items: center;
}
.oline-application__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #1E1744;
  cursor: pointer;
}
.oline-application__new-link {
  margin-left: 21px;
}

.section-hero {
  background: url(/img/hero.png) no-repeat center center;
  height: 100vh;
}

.wrapper-grid {
  position: relative;
  top: 27%;
  display: grid;
  grid-template-columns: repeat(4);
}
@media (max-width: 991px) {
  .wrapper-grid {
    top: 48%;
  }
}
@media (max-width: 767px) {
  .wrapper-grid {
    top: 29%;
  }
}
.wrapper-grid .swiper-wrapper {
  width: 560px;
}
@media (max-width: 1279px) {
  .wrapper-grid .swiper-wrapper {
    width: 460px;
  }
}
@media (max-width: 991px) {
  .wrapper-grid .swiper-wrapper {
    width: 760px;
  }
}
@media (max-width: 767px) {
  .wrapper-grid .swiper-wrapper {
    width: 415px;
  }
}
.wrapper-grid__one {
  display: flex;
  align-items: center;
  height: 458px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  background-color: white;
}
@media (max-width: 991px) {
  .wrapper-grid__one {
    height: 390px;
  }
}
@media (max-width: 991px) {
  .wrapper-grid__one {
    grid-column-start: 1;
    grid-column-end: 5;
    height: 258px;
  }
}
.wrapper-grid__one .btn-slide {
  position: absolute;
  top: 49px;
  left: 95px;
}
@media (max-width: 991px) {
  .wrapper-grid__one .btn-slide {
    top: 25px;
  }
}
.wrapper-grid__one .btn-slide button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
}
.wrapper-grid__one .text-2 {
  display: none;
}
@media (max-width: 991px) {
  .wrapper-grid__one .text-2 {
    display: block;
    margin-left: 20%;
    text-align: start;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 300;
    width: 514px;
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .wrapper-grid__one .text-2 {
    font-size: 28px;
    width: 4560px;
  }
}
.wrapper-grid__one .text {
  margin-left: 41px;
  text-align: start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  width: 514px;
  font-size: 38px;
}
@media (max-width: 1279px) {
  .wrapper-grid__one .text {
    width: 400px;
  }
}
@media (max-width: 991px) {
  .wrapper-grid__one .text {
    display: none;
  }
}
.wrapper-grid__one .text span {
  font-weight: 600;
}
.wrapper-grid__one .image {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 85%;
  left: 0;
  width: 82px;
  height: 72px;
  background-color: #1E1744;
}
@media (max-width: 991px) {
  .wrapper-grid__one .image {
    top: 72%;
  }
}
.wrapper-grid__one img {
  position: absolute;
  top: 86%;
  left: 16%;
}
@media (max-width: 1279px) {
  .wrapper-grid__one img {
    left: 18.5%;
  }
}
@media (max-width: 991px) {
  .wrapper-grid__one img {
    top: 73%;
    left: 12%;
  }
}
@media (max-width: 767px) {
  .wrapper-grid__one img {
    left: 20%;
  }
}
.wrapper-grid__two {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size: 27px;
  width: 164px;
  height: 149px;
  grid-column: 1;
  grid-row: 2;
}
@media (max-width: 1279px) {
  .wrapper-grid__two {
    width: 114px;
  }
}
@media (max-width: 991px) {
  .wrapper-grid__two {
    width: 94px;
  }
}
@media (max-width: 767px) {
  .wrapper-grid__two {
    width: auto;
  }
}
.wrapper-grid__two .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 8, 8, 0.85);
}
.wrapper-grid__free {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size: 27px;
  text-decoration: underline;
  grid-column: 2;
  grid-row: 2;
  width: 396px;
  height: 149px;
  background-color: #1E1744;
}
@media (max-width: 1279px) {
  .wrapper-grid__free {
    width: 346px;
  }
}
@media (max-width: 991px) {
  .wrapper-grid__free {
    width: 246px;
  }
}
@media (max-width: 767px) {
  .wrapper-grid__free {
    width: auto;
  }
}
.wrapper-grid__four {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1E1744;
  font-weight: 500;
  font-size: 27px;
  width: 294px;
  height: 149px;
  grid-column: 3;
  grid-row: 2;
  background-color: white;
}
@media (max-width: 1279px) {
  .wrapper-grid__four {
    width: 244px;
  }
}
@media (max-width: 991px) {
  .wrapper-grid__four {
    width: 204px;
  }
}
@media (max-width: 767px) {
  .wrapper-grid__four {
    grid-column: 1;
    grid-row: 3;
  }
}
.wrapper-grid__five {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 301px;
  height: 149px;
  grid-column: 4;
  grid-row: 2;
  background-color: white;
}
@media (max-width: 1279px) {
  .wrapper-grid__five {
    width: 251px;
  }
}
@media (max-width: 991px) {
  .wrapper-grid__five {
    width: 211px;
  }
}
@media (max-width: 767px) {
  .wrapper-grid__five {
    grid-column: 2;
    grid-row: 3;
  }
}
.wrapper-grid__five .text-day {
  display: flex;
  justify-content: left;
  color: #3D5695;
  font-weight: 500;
  font-size: 16px;
}
.wrapper-grid__five .text {
  width: 196px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
}

.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-body {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 30%;
  top: 100px;
  bottom: auto;
  background-color: #f8f1e4;
  z-index: 2;
}
@media (max-width: 1279px) {
  .modal-body {
    width: 60%;
    margin-left: 20%;
  }
}
@media (max-width: 1279px) {
  .modal-body {
    width: 80%;
    margin-left: 10%;
  }
}
@media (max-width: 1279px) {
  .modal-body {
    width: 90%;
    margin-left: 5%;
  }
}
@media (max-width: 479px) {
  .modal-body {
    width: 100%;
    margin-left: 5%;
  }
}
.modal-body h2 {
  text-align: center;
  margin-top: 48px;
}
.modal-body .text {
  margin-bottom: 20px;
  text-align: center;
}

.close {
  position: absolute;
  top: 0.3em;
  right: 0;
  width: 1em;
  height: 1em;
  font-size: 2em;
  text-indent: 100px;
  font-size: 38px;
  font-weight: 600;
  border: none;
  background-color: #f8f1e4;
  overflow: hidden;
  cursor: pointer;
}

.close::after {
  position: relative;
  top: 0;
  right: 3.2em;
  text-indent: 0;
  content: "×";
}

.close:hover {
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
}
.form input {
  border: none;
  height: 40px;
  margin-top: 8px;
  background-color: #f3f3f3;
  color: black;
}
.form input::-moz-placeholder {
  padding-left: 8px;
}
.form input:-ms-input-placeholder {
  padding-left: 8px;
}
.form input::placeholder {
  padding-left: 8px;
}
.form .massage {
  height: 200px;
}
.form .btn-form {
  font-size: 17px;
  background-color: gold;
  cursor: pointer;
}
.form .btn-form:hover {
  transition: 0.5s;
  background-color: #ffc400;
}
.form .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.form .checkbox input {
  margin-right: 12px;
  transform: scale(1.6);
}/*# sourceMappingURL=style.css.map */